/* public/css/styles.css */

h1{
  color: #363732;
}

p{
  color: #F9A55A;
}

html{
  overflow: hidden;
  height: 100%;
}

body{
  height: 100%;
}

.aln-center{
  text-align: center;
}

.aln-left{
  text-align: left;
}

.aln-right{
  text-align: right;
}

.navbar-icon{
  margin-top: -7px;
}

/* This works but is kind of messy*/
.navbar-title a:hover, .navbar-title a{
  color: #0072e7;
  text-decoration: none;
}
.frmenu{
  font-color: white;
}

.frmenulist{
  width: inherit;
  background-color: #D9E9FF;
  margin-top: 20px
}

.navbtn{
  background-color: #D9E9FF;
  padding: 22px;
  color: #0072e7;
  text-decoration: none;
}

.friendbar{
  background-color: #D9E9FF;
  margin-top: -20px;
  padding-top: 7px;
  padding-left: 20px;
}

.addFrFlash{
  color: black;
}

#footer {
  display: fixed;
  height: wrap; /* the footer's total height */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: left;
}

#footer-content {
  background-color: #f3e5f5;
  border: 1px solid red;
  height: 100%; /* height + top/bottom paddding + top/bottom border must add up to footer height */
  padding: 8px;
}

.bottombar{
  display: fixed;
  height: wrap; /* the footer's total height */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: left;
}

.friendRequestList{
  background-color: white;
  margin-right: 10px;
  white-space: nowrap;
}

.friend-add{
  margin-bottom: 5px;
}

#messagebox{
    width: 90%;
}

#sendbutton{
  width: 8%;
}

#grouplist{
  margin-left: 90%;
  width: 8%;
}

.flash{
  color: red;
}

.horiz-scroll{
  overflow-x: scroll;
}

.messageLine{
  padding-right: 10px;
}

td{
  vertical-align: top;
}
