<meta charset="UTF-8">
<title>HermesIM | Messenger of the Gods</title>


<!--JQUERY -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


<!--BOOTSTRAP -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--ANGULARJS -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

<!--FAVICON -->
<link rel='shortcut icon' href='/favicon.png' type='image/png' />

<link rel="stylesheet" href="css/styles.css">

<!--MISC SCRIPTS -->
<!--<script src="scripts/dropit.js"></script> -->

<!--STYLES -->
<!--<link rel="stylesheet" href="css/dropit.css" type="text/css" />
