<!-- app/views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HermesIM</title>

  <!--JQUERY -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

  <!--BOOTSTRAP -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!--ANGULARJS -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/AngularMainController.js"></script>

  <!--FAVICON -->
  <link rel='shortcut icon' href='/favicon.png' type='image/png' />

  <!---STYLESHEET -->
  <link rel="stylesheet" href="css/debugstyles.css">
</head>

<body ng-app = "myApp">
<!--NAVBAR -->

  <nav class="navbar navbar-default">
    <div class = "row">
      <h2 class = "navbar-title col-md-2"><a href = "/messaging"> Hermes <img src = "favicon.png" height = "30" class = "navbar-icon"></a></h2>
    </div>
  </nav>


<div >
  <!-- <nav class="friendbar navbar navbar-default">
    <div class = "row">
        <div ng-controller="addFriendController">
          <row>
            <form ng-submit="processForm()">
              <input type="text" ng-model="formData.friendEmail">
              <button type="submit">Add</button>
            </form>
          </row>
        </div>
        <p class = "addFrFlash">{{addFriendFlash}}</p>
    </div>
  </nav>
END NAVBAR-->



  <!--Profile Image and name-->
  <div ng-controller = "AngularMainController" ng-init = "userName = '<%=userName%>'"  style = "width: 300px;">
    <h2> Hello, {{userName}} </h2>
  </div>
  <div ng-controller = "AngularMainController" ng-init = "profPic = '<%=userPic%>'"  style = "width: 300px;">
    <img id= "profileimg" ng-src={{profPic}} />
  </div>




  <!--Friend Reqs -->
  <div ng-controller = "AngularMainController" ng-init = "frnds = '<%=userFrnds%>'.split(',')"  style = "width: 300px; background-color: cyan;">
    <h3>Friends</h3>
    <div ng-repeat = "frnd in frnds">
      {{frnd}}
    </div>
  </div>


  <!--Friend Reqs -->
  <div ng-controller = "AngularMainController" ng-init = "frndReqs = '<%=userFrndReqs%>'.split(',')"  style = "width: 300px; background-color: red;">
    <h3>Friend Reqs</h3>
    <div ng-repeat = "frndReq in frndReqs">
      <form action="/acceptFrndReq" method="post">
        {{frndReq}}
        <input type="hidden" name="frndEmail" value="{{frndReq}}" readonly>
        <input class="acceptButton" type="submit" value="Accept">
      </form>
      <br>
    </div>
  </div>

</div>
</body>

</html>
