<!-- app/views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/styles.css">
  <title>HermesIM | Messenger of the Gods</title>
  <meta charset="UTF-8">
  <%-include('helpers/bootstrap', {}); %>
</head>

<body>
  <h1> HermesIM 0.0.1 </h1>
  <div class = "container">
    <div class = "jumbotron aln-center" style = "margin: 70px">
        <a href="/signup" class="btn btn-info" role="button">Signup</a>
        <a href="/login" class="btn btn-info" role="button">Login</a>
    </div>
  </div>
</body>

</html>
