<!-- app/views/home.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HermesIM | Messaging</title>


    <!--ANGULARJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

    <!--LOCAL SCRIPTS-->
    <script src="scripts/messaging_scripts.js"/>
    <script src="angular/angFriendController.js"/>

    <!--JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!--BOOTSTRAP -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!--FAVICON -->
    <link rel='shortcut icon' href='/favicon.png' type='image/png' />

    <!--STYLES-->
    <link rel="stylesheet" href="css/styles.css"/>
  </head>
  <body>

    <!-- TITLEBAR -->
    <nav class="navbar navbar-default">
      <div class = "row">
        <h2 class = "navbar-title col-md-2"><a href = "/messaging"> Hermes <img src = "favicon.png" height = "30" class = "navbar-icon"></a></h2>
      </div>
    </nav>
    <!--END TITLEBAR -->

    <div class = "container" ng-app="" ng-init="dispLogin=true">
      <!-- SIGNUP BOX -->
      <div id="signupBox" ng-show="dispLogin == false"style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
          <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
          </div>

          <div style="padding-top:30px" class="panel-body" >
            <h2> Sign up </h2>
            <br>
            {{signupMessage}}

            <form action="/signup" method="post">
              <div class = "form-group">
                <label for = "username" class = "contol-label col-md-3">Username: </label>
                  <div class = "col-md-9">
                    <input type="text" name="username" class = "form-control" placeholder="Your desired username"><br>
                  </div>
              </div>

              <div class = "form-group">
                <label for = "email" class = "contol-label col-md-3">Email: </label>
                <div class = "col-md-9">
                  <input type="email" name="email" class = "form-control" placeholder="Your email"><br>
                </div>
              </div>

              <div class = "form-group">
                <label for = "password" class = "contol-label col-md-3">Password: </label>
                <div class = "col-md-9">
                  <input type="password" name="password" class = "form-control" placeholder="Your password"><br>
                </div>
              </div>

              <input type="submit" value="Signup" class="btn btn-primary aln-left">
            </form>
            <a href="#" ng-click="dispLogin = true" class="">Returning User?</a>
          </div>
        </div>
      </div>
      <!--END SIGNUP BOX -->

      <!--LOGIN BOX -->
      <div id="loginBox" ng-show="dispLogin==true" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
          <div class="panel-heading">
            <div class="panel-title">Log in</div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
          </div>

          <div style="padding-top:30px" class="panel-body" >
            <h2> Log in </h2>
            <br>
            {{loginMessage}}

            <form action="/login" method="post">

              <div class = "form-group">
                <label for = "email" class = "contol-label col-md-3">Email: </label>
                  <div class = "col-md-9">
                    <input type="email" name="email" class = "form-control" placeholder="Your email"><br>
                  </div>
              </div>

              <div class = "form-group">
                <label for = "password" class = "contol-label col-md-3">Password: </label>
                <div class = "col-md-9">
                  <input type="password" name="password" class = "form-control" placeholder="Your password"><br>
                </div>
              </div>

              <input type="submit" value="Log In" class="btn btn-primary aln-left">
            </form>
            <a href="#" ng-click="dispLogin = false" class="">New User?</a>
          </div>
        </div>
      </div>
      <!--END LOGIN BOX -->
    </div>
    <footer id="footer">
      <div id="footer-content">Caution: This website is currently under development.
      <strong>Assume any emails, passwords, and messages used/sent on this site are susceptible to hacking.</strong>
      Thank you for checking out Hermes!! <br> P.S. If you don't want to use your real email, the signup box only
      requires *name*@*domain*.*tld*. Once the email is in this format and is not already in the database, it will work
      whether it is real or not.
    </footer>
  </body>
</html>
