<!-- app/views/login.ejs -->

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/styles.css">
  <title>HermesIM | Messenger of the Gods</title>
  <meta charset="UTF-8">

  <%-include('helpers/bootstrap', {}); %>
</head>

<body>

  <h1> HermesIM 0.0.1 </h1>
  <div class = "container">
    <div class = "jumbotron aln-center" style = "margin: 70px">
      <h2> Log in </h2>
      <br>
      <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <form action="/login" method="post">
        Name: <input type="text" name="email" placeholder="your email"><br>
        Password: <input type="password" name="password" placeholder="your password"><br>
        <input type="submit" value="Send">
      </form>

    </div>
  </div>
</body>

</html>
